<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amaderkrisok">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity
            android:name=".DiseaseManagementActivity"
            android:exported="false" />
        <activity
            android:name=".CropManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" /> <!-- Main Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- Admin Activity -->
        <activity
            android:name=".AdminActivity"
            android:exported="false" /> <!-- Other Activities -->
        <activity
            android:name=".CropInfoActivity"
            android:exported="false" />
        <activity
            android:name=".DiseaseActivity"
            android:exported="false" />
        <activity
            android:name=".ExpertHelpActivity"
            android:exported="false" />
        <activity
            android:name=".MarketPriceActivity"
            android:exported="false" />

        <activity
            android:name=".TipsManagementActivity"
            android:label="টিপস ম্যানেজমেন্ট"
            android:parentActivityName=".AdminActivity"
            android:exported="false" />
    </application>

</manifest>